/* Color Preference */
/* #000000  Black*/
/* #c0c0c0 Silver*/
/* #EBEBEE Light Gray*/
/* #DFDFE1 Very Light Gray*/
/* #545253 Charcoal Gray*/
/* #131211 Dark Brown/Black */

/* Fonts */
/* Poppins - Headings */
/* Roboto - Body */
/* Lato - Tables */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

table{
    font-family: 'Lato', sans-serif;
}

.primary-btn{
    background-color: #28a745;
    color: #ECECEC;
    text-decoration: none;
    padding: 8px 6px;
    border-radius: 6px;
}


/* Dashboard */
.nav-item > .nav-link{
    color: #343a40;
}
.nav-item > .nav-link:hover {
    color: #343a40;
}
.admin-active-link{
    background-color: #343a40;
    color: #ECECEC;
    border-radius: 2px;
}

.admin-active-link:hover{
    color: #ECECEC;
}

.admin-inactive-link{
    background-color: #ECECEC;
    color: #343a40;
    border-radius: 2px;
}

/* Media Query */

@media screen and (max-width: 768px) {
    /* Hiding the logo which is appearing on the center of the navbar for small screen */

}
